fastapi
uvicorn[standard]

openai>=1.26.0
openai-agents-python>=0.3.1
tiktoken

pydantic>=2.7
python-dotenv>=1.0
python-multipart
PyYAML>=6.0

requests
beautifulsoup4
markdown
tqdm>=4.66

pypandoc
weasyprint
PyPDF2
python-docx
python-pptx
